body{
  margin: 0;
  padding: 0;
}
.slider {
  background-color: black;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.flechasig p {
 font-size: 30px;
 font-weight: lighter;
 cursor: pointer;
 color: gray;
 margin-top: 1500%;
}
.flechaant p{
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
  color: gray;
  margin-top: 1500%;
}
#img{
  width:1000px ;
  height: 550px;
}
@media (max-width:1000px) {
  #img{
    width: 500px;
    height: 275px;
  }
  .slider {
    height: 275px;
  }
  .flechasig p {
    margin-top: 700%;
   }
   .flechaant p{
     margin-top: 700%;
   }

}
@media (max-width:530px) {
  #img{
  width: 350px;
  height: 250px;
}

.slider {
  height: 250px;
}
.flechasig p {
  margin-top: 600%;
 }
 .flechaant p{
   margin-top: 600%;
 }
}
