body{
  margin: 0;
  padding: 0;
}
.slider {
  background-color: black;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.flechasig p {
 font-size: 30px;
 font-weight: lighter;
 cursor: pointer;
 color: gray;
 margin-top: 1500%;
}
.flechaant p{
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
  color: gray;
  margin-top: 1500%;
}


