body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  display: flex;
}

.nav-bar {
  background-color: rgb(223, 222, 222);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: medium;
}

li a {
  text-decoration: none;
  list-style: none;
  color: black;
}

li {
  list-style: none;
}

nav li a:visited {
  color: black;
  /* Color de los enlaces visitados */
}
.el-fuerte {
  display: flex;
  justify-content: center;
  padding: 2%;
}
h2 {
  text-align: center;
}
nav li a:hover {
  border: solid 2px white;
  padding: 3px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  height: 2rem;
  padding: 1% 0% 0% 0%;
}
